.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  z-index: 1000;
}

.content {
  transition: all 0.2s ease-in-out;
}

.contentIsBlured {
  filter: blur(3px);
}
