.inputWrapper {
  position: relative;
  display: inline-block;
  margin-top: 5px;
}

.input {
  padding: 8px 15px;
  outline: none;
  border-bottom: 1px solid #eaeaea;
  background-color: transparent;
  color: #EAEAEA;
  font-size: 14px;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.error .input {
  border-color: #d40707;
}

.error .input,
.error .input::placeholder {
  color: #d40707;
}

.label {
  font-size: 16px;
  color: #EAEAEA;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: all .2s ease-in-out;
}

.withIcon .label {
  left: 42px;
}

.error .label {
  color: #d40707;
}

.labelActive {
  font-size: 12px;
  top: calc(50% - 15px);
  left: 11px;
}

.withIcon .labelActive {
  left: 38px;
}

.icon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: text;
}

.rightIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 13px;
  cursor: pointer;
  padding: 5px;
  transform: translateY(-50%);
}

.rightIcon > * {
  color: #ffffff;
}

.icon > * {
  width: 15px;
  height: 15px;
  color: #ffffff;
}

.error .icon > * {
  color: #d40707;
}

.inputIcon {
  padding-left: 35px;
}

.errorBlock {
  width: 100%;
  min-height: 15px;
  color: #d40707;
  font-size: 12px;
  margin-top: 5px;
}
